<div id="test" class="w-full flex justify-center items-center  mt-2 md:mt-10">
  <div class="bg-white rounded-md shadow w-full lg:w-9/12 flex justify-center items-center flex-col md:flex-row p-5">
    <%= render 'form', question: @question%>
  </div>
</div>