@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
.bg-primary {
    background-color: #2A4AA2;
}

.bg-primary-900 {
    background-color: rgba(42, 74, 162, .9);
}
.text-primary-900 {
    color: rgba(42, 74, 162, .9);
}

.bg-primary-800 {
    background-color: rgba(42, 74, 162, .8);
}

.bg-accent {
    background-color: #B21A49;
}

.bg-accent-900 {
    background-color: rgba(178, 26, 73, .9);
}

.bg-accent-800 {
    background-color: rgba(178, 26, 73, .8);
}

.border-primary {
    border-color: #2A4AA2;
}

.border-accent {
    border-color: #B21A49;
}

.text-primary {
    color: #2A4AA2;
}

.text-accent {
    color: #B21A49;
}

input, textarea {
    @apply rounded-md bg-white border-2 text-gray-700 p-1 my-1 outline-none w-full;
}

input[type="checkbox"] {
    padding: unset;
    width: unset;
    border: unset;
    margin: unset;
}


input:focus, textarea:focus {
    @apply border-primary;
}

input.accent:focus, textarea.accent:focus {
    @apply border-accent
}

button.btn-primary {
    @apply rounded-md bg-accent border-none text-white;
}

button.btn-primary-alt {
    @apply rounded-md bg-primary border-none text-white;
}

button.btn-primary-alt:hover {
    @apply rounded-md bg-primary-900 border-none text-white;
}

button.btn-primary:hover {
    @apply bg-accent-900;
}

button.btn-primary:focus {
    @apply outline-none shadow-outline
}

button.btn-accent {
    @apply rounded-md bg-accent border-none text-white;
}

button.btn-accent:focus {
    @apply outline-none shadow-outline
}

button.btn-accent:hover {
    @apply bg-accent-800
}

a.link-primary {
    @apply text-primary-900;
    text-decoration: underline;
    text-decoration-color: #2A4AA2;
}

a.link-primary:hover {
    @apply text-primary;
    text-decoration-color: #2A4AA2;
}

a.link-accent {
    @apply text-accent;
    text-decoration: underline;
    text-decoration-color: #B21A49;
}

a.link-accent:hover {
    @apply text-accent;
    text-decoration-color: rgba(178, 26, 73, .8);;
}

.padded-underline {
    text-underline-position: under;
}

.error {
    @apply text-red-400 text-xs my-1;
}

.content {
    @apply w-full;
    max-width: 1264px;
}

pre {
    direction: ltr;
    @apply text-sm
}

.banner {
    opacity: 0;
    display: none;
}

.flash {
    @apply flex;
    animation: flash-animation 700ms ease-in-out 0s normal forwards    ;
}

.hide-self {
    animation: hide 2s ease-in-out 0s alternate;
}

@keyframes flash-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide-self {
    from {
        top: 0;
    }

    to {
        top: -1000px;
    }
}

.markdown-container p a {
    @apply text-accent;
    text-decoration: underline;
    text-decoration-color:#2A4AA2 ;
}
/*.color-primary {*/
/*    color: #8382f5;*/
/*}*/

/*.bg-secondary {*/
/*    background-color: #D7D6F1;*/
/*}*/

/*.bg-secondary:hover {*/
/*    background-color: #9795F8;*/
/*}*/

/*.border-primary {*/
/*    border-color: #9795F8;*/
/*}*/

/*.bg-primary {*/
/*    background-color: #8382f5;*/
/*}*/

/*.bg-primary:hover {*/
/*    background-color: #9795F8;*/
/*}*/

/*.bg-primary-outline {*/
/*    border-color: #9795F8;*/
/*}*/


/*.bg-primary-outline:hover{*/
/*    background-color: #8382f5;*/
/*    color: white;*/
/*}*/


/*.color-secondary {*/
/*    color: #736EFF;*/
/*}*/

/*.color-tertiary {*/
/*    color: #D7D6F1;*/
/*}*/

/*table { border-collapse: revert;  border-spacing: 0 10px; }*/

/*th:first-child {*/
/*    border-top-left-radius: 10px;*/
/*    border-bottom-left-radius: 10px;*/
/*}*/

/*th:last-child {*/
/*    border-top-right-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*}*/


/*.link {*/
/*    text-decoration-color: #D7D6F1;*/
/*    text-underline-color: #D7D6F1;*/
/*    text-decoration: underline;*/
/*}*/

/*.link:hover {*/
/*    color: #736EFF;*/
pre{
    background-color: #eee;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}
code{
    background-color: #eee;
    padding: 1px 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.highlight {
    @apply mt-2
}



/* purgecss ignore */
.hll { background-color: #ffffcc }
/* purgecss ignore */
.c { color: #888888 } /* Comment */
/* purgecss ignore */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
/* purgecss ignore */
.k { color: #008800; font-weight: bold } /* Keyword */
/* purgecss ignore */
.cm { color: #888888 } /* Comment.Multiline */
/* purgecss ignore */
.cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
/* purgecss ignore */
.c1 { color: #888888 } /* Comment.Single */
/* purgecss ignore */
.cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
/* purgecss ignore */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
/* purgecss ignore */
.ge { font-style: italic } /* Generic.Emph */
/* purgecss ignore */
.gr { color: #aa0000 } /* Generic.Error */
/* purgecss ignore */
.gh { color: #303030 } /* Generic.Heading */
/* purgecss ignore */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
/* purgecss ignore */
.go { color: #888888 } /* Generic.Output */
/* purgecss ignore */
.gp { color: #555555 } /* Generic.Prompt */
/* purgecss ignore */
.gs { font-weight: bold } /* Generic.Strong */
/* purgecss ignore */
.gu { color: #606060 } /* Generic.Subheading */
/* purgecss ignore */
.gt { color: #aa0000 } /* Generic.Traceback */
/* purgecss ignore */
.kc { color: #008800; font-weight: bold } /* Keyword.Constant */
/* purgecss ignore */
.kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
/* purgecss ignore */
.kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
/* purgecss ignore */
.kp { color: #008800 } /* Keyword.Pseudo */
/* purgecss ignore */
.kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
/* purgecss ignore */
.kt { color: #888888; font-weight: bold } /* Keyword.Type */
/* purgecss ignore */
.m { color: #0000DD; font-weight: bold } /* Literal.Number */
/* purgecss ignore */
.s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
/* purgecss ignore */
.na { color: #336699 } /* Name.Attribute */
/* purgecss ignore */
.nb { color: #003388 } /* Name.Builtin */
/* purgecss ignore */
.nc { color: #bb0066; font-weight: bold } /* Name.Class */
/* purgecss ignore */
.no { color: #003366; font-weight: bold } /* Name.Constant */
/* purgecss ignore */
.nd { color: #555555 } /* Name.Decorator */
/* purgecss ignore */
.ne { color: #bb0066; font-weight: bold } /* Name.Exception */
/* purgecss ignore */
.nf { color: #0066bb; font-weight: bold } /* Name.Function */
/* purgecss ignore */
.nl { color: #336699; font-style: italic } /* Name.Label */
/* purgecss ignore */
.nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
/* purgecss ignore */
.py { color: #336699; font-weight: bold } /* Name.Property */
/* purgecss ignore */
.nt { color: #bb0066; font-weight: bold } /* Name.Tag */
/* purgecss ignore */
.nv { color: #336699 } /* Name.Variable */
/* purgecss ignore */
.ow { color: #008800 } /* Operator.Word */
/* purgecss ignore */
.w { color: #bbbbbb } /* Text.Whitespace */
/* purgecss ignore */
.mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
/* purgecss ignore */
.mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
/* purgecss ignore */
.mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
/* purgecss ignore */
.mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
/* purgecss ignore */
.sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
/* purgecss ignore */
.sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
/* purgecss ignore */
.sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
/* purgecss ignore */
.s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
/* purgecss ignore */
.se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
/* purgecss ignore */
.sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
/* purgecss ignore */
.si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
/* purgecss ignore */
.sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
/* purgecss ignore */
.sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
/* purgecss ignore */
.s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
/* purgecss ignore */
.ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
/* purgecss ignore */
.bp { color: #003388 } /* Name.Builtin.Pseudo */
/* purgecss ignore */
.vc { color: #336699 } /* Name.Variable.Class */
/* purgecss ignore */
.vg { color: #dd7700 } /* Name.Variable.Global */
/* purgecss ignore */
.vi { color: #3333bb } /* Name.Variable.Instance */
/* purgecss ignore */
.il { color: #0000DD; font-weight: bold } /* Literal*/