@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


    .bg-primary {
    background-color: #2A4AA2;
}

.bg-primary-900 {
    background-color: rgba(42, 74, 162, .9);
}
.text-primary-900 {
    color: rgba(42, 74, 162, .9);
}

.bg-primary-800 {
    background-color: rgba(42, 74, 162, .8);
}

.bg-accent {
    background-color: #B21A49;
}

.bg-accent-900 {
    background-color: rgba(178, 26, 73, .9);
}

.bg-accent-800 {
    background-color: rgba(178, 26, 73, .8);
}

.border-primary {
    border-color: #2A4AA2;
}

.border-accent {
    border-color: #B21A49;
}

.text-primary {
    color: #2A4AA2;
}

.text-accent {
    color: #B21A49;
}

input, textarea {
    @apply rounded-md bg-white border-2 text-gray-700 p-1 my-1 outline-none w-full;
}

input[type="checkbox"] {
    padding: unset;
    width: unset;
    border: unset;
    margin: unset;
}


input:focus, textarea:focus {
    @apply border-primary;
}

input.accent:focus, textarea.accent:focus {
    @apply border-accent
}

button.btn-primary {
    @apply rounded-md bg-accent border-none text-white;
}

button.btn-primary-alt {
    @apply rounded-md bg-primary border-none text-white;
}

button.btn-primary-alt:hover {
    @apply rounded-md bg-primary-900 border-none text-white;
}

button.btn-primary:hover {
    @apply bg-accent-900;
}

button.btn-primary:focus {
    @apply outline-none shadow-outline
}

button.btn-accent {
    @apply rounded-md bg-accent border-none text-white;
}

button.btn-accent:focus {
    @apply outline-none shadow-outline
}

button.btn-accent:hover {
    @apply bg-accent-800
}

a.link-primary {
    @apply text-primary-900;
    text-decoration: underline;
    text-decoration-color: #2A4AA2;
}

a.link-primary:hover {
    @apply text-primary;
    text-decoration-color: #2A4AA2;
}

a.link-accent {
    @apply text-accent;
    text-decoration: underline;
    text-decoration-color: #B21A49;
}

a.link-accent:hover {
    @apply text-accent;
    text-decoration-color: rgba(178, 26, 73, .8);;
}

.padded-underline {
    text-underline-position: under;
}

.error {
    @apply text-red-400 text-xs my-1;
}

.content {
    @apply w-full;
    max-width: 1264px;
}

pre {
    direction: ltr;
    @apply text-sm
}

.banner {
    opacity: 0;
    display: none;
}

.flash {
    @apply flex;
    animation: flash-animation 700ms ease-in-out 0s normal forwards    ;
}

.hide-self {
    animation: hide 2s ease-in-out 0s alternate;
}

@keyframes flash-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide-self {
    from {
        top: 0;
    }

    to {
        top: -1000px;
    }
}

/*.color-primary {*/
/*    color: #8382f5;*/
/*}*/

/*.bg-secondary {*/
/*    background-color: #D7D6F1;*/
/*}*/

/*.bg-secondary:hover {*/
/*    background-color: #9795F8;*/
/*}*/

/*.border-primary {*/
/*    border-color: #9795F8;*/
/*}*/

/*.bg-primary {*/
/*    background-color: #8382f5;*/
/*}*/

/*.bg-primary:hover {*/
/*    background-color: #9795F8;*/
/*}*/

/*.bg-primary-outline {*/
/*    border-color: #9795F8;*/
/*}*/


/*.bg-primary-outline:hover{*/
/*    background-color: #8382f5;*/
/*    color: white;*/
/*}*/


/*.color-secondary {*/
/*    color: #736EFF;*/
/*}*/

/*.color-tertiary {*/
/*    color: #D7D6F1;*/
/*}*/

/*table { border-collapse: revert;  border-spacing: 0 10px; }*/

/*th:first-child {*/
/*    border-top-left-radius: 10px;*/
/*    border-bottom-left-radius: 10px;*/
/*}*/

/*th:last-child {*/
/*    border-top-right-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*}*/


/*.link {*/
/*    text-decoration-color: #D7D6F1;*/
/*    text-underline-color: #D7D6F1;*/
/*    text-decoration: underline;*/
/*}*/

/*.link:hover {*/
/*    color: #736EFF;*/


.highlight .c1 {
    color: #9594af !important;
    font-style: italic;
}
.ch {
    height: 30px;
    background-color: #e1e5e7;
    max-width: 97%;
    border-radius: 8px 8px 0 0;
}
.ch__comps {
    display: inline-block;
    padding-left: 10px;
}
.ch__comps span {
    font-size: 1.7rem;
    margin: 7px 0 0 5px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btnc {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
    padding: 0 0 0 2px;
    margin: 6px 2px 0 0;
    cursor: default;
}
.btnc--green {
    background-color: #6ba83d;
}
.btnc--green:hover {
    background-color: #6ba83d;
}
.btnc--yellow {
    background-color: #e4b66a;
}
.btnc--yellow:hover {
    background-color: #e4b66a;
}
.btnc--red {
    background-color: #c95643;
}
.btnc--red:hover {
    background-color: #c95643;
}
.highlight {
    border-radius: 3px;
    max-width: 98%;
    box-sizing: content-box;
    display: block;
    margin: 0 0 3rem;
}
code, .code, pre {
    word-break: normal;
    white-space: pre !important;
    word-wrap: normal;
    padding: 14px 23px 14px 13px !important;
}
code code, .code code, pre code {
    line-height: 1.5;
    white-space: pre-wrap;
    margin-left: -12px;
}
